

.resumoInformacoes{
    height: 100%;
    width: 100%;
    

    
}
.info{
    margin: 0 8%;

    background-color: white;
    padding: 12%;
    border-style: dashed;
    border-width: 2px;
    border-style: dashed;
    
    width: 60%;
    border-radius: 4%;
    text-align: center left;
    font-size: 18pt;
    box-shadow: 15px 15px 7px -8px #76797a;
   
    
    
}

a{
    
    color: grey;
}


@media (max-width: 860px){
    .corpoTodo{
        
        width:80%;
        margin: 0 10%;
}
    
 }
 @media (max-width: 1440px){
    .corpoTodo{
        width: 70%;
        margin: 0 15%;
    }
    

}
@media (max-width: 1920px){
    .corpoTodo{
        width: 60%;
        margin: 0 20%;
    }
    

}
