@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.boxInfo{
    display: flex;
    flex-wrap: wrap;   
    gap: 16px;
    align-items: flex-start;
    margin: 2%;
    border-style: dotted;
    border-width: 1px;
    border-radius: 10px;
    
}

.info{
    font-weight: bold;
    font-size: 30px;
    font-family:'Poppins',sans-serif;
}

.labelFormulario{
    font-family: 'Poppins';
    font-size: 16px;
    color: #25343D;
    font-weight: 500;
}

.formsEspacamento{
    display: flex;
    margin-bottom: 20px;
}

input, select{
    border-radius: 8px;
    border-width: thin;
    outline: none;
}

#letrasMiudas{
    font-size: 12px;
    opacity: 50%;
    margin-bottom: 10px;
}

#termoServico{
    font-size: 12px;
    margin-bottom: 10px;
}

#botao{
    width: 15%;
    font-size: 15pt;
    color: #ffffff;
    background-color: #677D89;
    border: 1px solid #b3b3b3;
    border-radius: 40px;
    margin-left: 42%;
    margin-bottom: 6%;
}

#botao:hover{
    background-color: #5a6c77;
    transition: 0.3s;
}

#botao:active{
    background-color: #4d6069;
    transition: 0.1s;
}

