.corpoLogin {
    display: flex;
    height: 100%;
    width: 100%;
}

.quadrado {
    width: 620px;
    height: 466px;
    border: 2px solid #969696;
    background-color: #EBF2F6;
    border-radius: 40px;
    margin: auto;
}